.jerrycenter{
    text-align: center;
}
.jjjcenter{
    text-align: center;
    color: rgb(128, 127, 127);
    background-color: rgb(212, 235, 255) ;
    margin: -10px;
    border-color: rgb(252, 205, 205);
    padding: 40px;
    border-radius: 20px;
    
}
.yyy{
    text-align: center;
    color: white;
}
.yyh{
    text-align: center;
    color: white;
    font-size: 40px;
}
a.jyhhhlink{
    color: rgb(221, 221, 229);
    padding: 0 10px;
    border-radius: 40px;
    background-color: rgb(134, 134, 145);    
}

a.jyhhhlink:hover{
    background-color: rgb(152, 152, 219);
    color: white;
}
.jerrybig{
    font-size: 20px;
    font-weight: 800;
}
.flex-shrink-0{
    text-align:right;
    color:black;
}
.jerrygo{
    font-size: 30px;
    text-align:left;
}
section#about{
    background-color: #d9d9d979;
    background-image: url("../assets/img/124.jpg");
    background-position: center;
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-size: cover;
}
section#school{
    background-color:#d9d9d979 ;
    background-image: url("../assets/img/46.jpg");
    background-position: center;
     background-size: cover;
}
section#cta{
    background-image: url("../assets/img/124.jpg");
    background-size: cover;
    background-position: center;
}
section#music{
    background-image: url("../assets/img/46.jpg");
    background-size: cover;
    background-position: center;
}
section#experience{
    background-image: url("../assets/img/46.jpg");
    background-size: cover;
    background-position: center;
}
section#photo{
    background-image: url("../assets/img/46.jpg");
    background-size: cover;
    background-position: center;
}    
#last{
    color:white;
}
a.social-iconlink{
    color: rgb(221, 221, 229);
    padding: 20px;
    border-radius: 100px;
    background-color: rgb(123, 120, 120);
    font-size: 30px;
}
a.social-iconlink:hover{
    background-color: rgb(152, 152, 219);
    color: white;
}
#sideNav{
    background-color: rgb(101, 101, 113);
}